<div>
    {{#each this}}
        <div class="row">
            <div class="col-md-12">
                <h2>{{fuck}}</h2>
                    {{#items}}
                        <p>{{this.todo}}</p>
                    {{/items}}
            </div>
        </div>
    {{/each}}
        <p>There are no documents available at this time</p>
</div>
