<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Welcome to ToDo's!</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
      <button type="button" data-toggle="modal" data-target="#myModalRegister" class="btn btn-primary">Register</button>
      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Login</button>
      <div class="btn-group" role="group" aria-label="groung">
        <form id="logOut">
          <button type="submit" id="submit" data-toggle="modal" class="btn btn-primary">Logout</button>
        </form>
      </div>
      <button type="button" data-toggle="modal" data-target="#myModalChangePassword" class="btn btn-primary">Change Password</button>
    </ul>
</div>
<!-- /.container-fluid -->
